* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: sans-serif;
}

a {
    font-weight: 600;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    transition: all 0.3s ease 0s
}

header{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20%;
}
.logo {
    color: #edf0f1;
    transition: all 0.3s ease 0s
}
.links-conteiner li{
    display: inline;
    padding: 0px 20px;
}
.logo:hover{
    color: rgba(255,255,255,0.4)
}
.links-conteiner a:hover{
    color: rgb(231, 231, 231,0.4);
}

button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #dfdede;
    transition: background-color 0.3s ease 0s;
}
.containers-button {
    font-weight: 550;
    font-size: 17px;
    color: #edf0f1;
    background-color: rgb(27, 27, 27);
    padding: 10px 10px;
}

button:hover {
    background-color: rgba(255,255,255,0.4);
}
button:active {
    background-color: #edf0f1;
}

.containers-button:hover{
    background-color: #4a4a4b;
}
.grid-conteiner {
    display: grid;
}

.texto {
    color: #edf0f1;
    font-size: 40px;
    margin: auto;
}
.titulo-cartao {
    color: #181818;

}
.inner-grid-top{
    width: 100%;
    height: 100%;
    padding: 0 20%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.inner-grid-mid {
    background-color: #edf0f1;
    height: 100%;
    width: 100%;
    padding: 10% 20%;

    display: flex;
    flex-direction: row;
}

.cards {
    height: 30vw;
    border-style: none;
    border-radius: 10px 10px;
    padding: 20px 20px;
    background-color: #e7e7e7;
    margin: 3%;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.25s;
}
.cards.showUpwards {
    transform: translateY(0);
    opacity: 1;
}
.containers1 {
    width: 50%;
    text-align: center;
}
.containers2 {
    margin-top: 20%;
    width: 50%;
    text-align: center;
}


.container-content {
    margin: 0 auto;
}

.main-top-left{
    margin: 70% 0px;
    transform: translateY(-100px);
    transition: 0.5s;
    opacity: 0;
}

.main-top-left.showDownwards {
    transform: translateY(0);
    opacity: 1;
}

.main-top-right {
    text-align: center;
    margin: 50% 0;
    font-size: px;
    color: #dfdede;
}

.grids {
    display: grid;
    grid-template-rows: 40vw 90vw 20vw;
    grid-template-columns: 100%;
}
.grid1 {
    background-color: #24252A;
}
.grid2 {
    background-color: rgb(224, 224, 224);
}
.grid3 {
    background-color: #24252A;
}
.um{
    font-size: 40px;
    margin: auto;
}
.dois{
    margin: auto;
}
